.evered-box-container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 90%;
}

.evered-box-header {
  font-size: x-large;
}

.evered-box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.evered-box div {
  flex: 1;
}

.everedMetrics {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
}

.everedMetrics div {
  flex: 1;
}
