* {
  box-sizing: content-box;
}



#root {
  padding: 2rem;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: start;
  text-align: center;
  border: 1px solid black;
}

.table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:90%;
}
.cell {
  width:100%;
  font-size: clamp(10px, 12px, 16px);
  line-height: 1.2;
  text-wrap: wrap;
}

.cell:hover {
  background-color: rgb(135, 136, 136);
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  margin-top: 10px;
  width:100%;


}

.row div {
  text-align: left;
  margin: .5rem;
  background-color: red;
  text-wrap: wrap;

}

.add-row-btn {
  font-size: large;
  border: 1px solid black;
  margin-top: .5rem;
}

.modal-popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  border: 1px solid black;
  width: 50%;
  margin: auto;
}

.modal-popup input {
  margin-top: 10px;
  padding: 10px;
}

.submit-modal {
  border: 1px solid black;
}

.edit-row,
.delete-row {
  border: 1px solid black;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  width: 200px;
  transform: translate3d(-30%, 0px, 0px);

}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  scrollbar-width: none;

}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
  height:500px;
}

/* Individual item */
.bm-item {
  display: inline-block;

  color: #d1d1d1;
  margin-bottom: 10px;
  text-align: left;
  text-decoration: none;
  transition: color 0.2s;
}

.bm-item:hover {
  color: #ffffff;
}


.evered-box-container{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 90%;

}
.evered-box-header {
  font-size: x-large;
}
.evered-box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.evered-box div {
  flex:1;
}

.everedMetrics {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
}

.everedMetrics div {
  flex:1;
}